<div class="booyah-box invertedColor">
  <div class="row">
    <div class="col-4">
      <div class="profile-image">

<% if @user.avatar.present? %>
  <%= link_to user_avatar_path(@user, @user.avatar), :title => "Upload New Photo", method: :delete, data: { confirm: 'Are you sure you want to change your Photo?' } do %>
  <%= image_tag @user.avatar.avatarpic %>
<% end %>
<% else %>
  <%= image_tag 'user.png' %>
  <a href="#" class="add-image" data-toggle="modal" data-target="#avatarpic">
    Add a Picture
  </a>
      <% end %>
    </div>
    </div>

<div class="col-8">
      <h1><%= @user.email %></h1>
      <h3>Member Since: <%= @user.created_at.strftime("%B %d, %Y") %></h3>
      <h4><%= @user.comments.count %> total comments</h4>
      <h4><%= @user.comments.where(rating: '5_stars').count %> total 5 star reviews</h4>
    </div>
  </div>
  <div class="clear"></div>
</div>

<br /><br />


<h1 class="text-center">My Comments</h1>
<br />

<% if (@user.comments.present?) %>

<div class="col-10 offset-1"
<br /><br />
<div class="row">
  <% @user.comments.each do |comment| %>
    <div class="col-12 col-sm-6">
      <h2 class="text-center"><%= link_to comment.place.name, place_path(comment.place) %></h2>
      <blockquote>
        <% if comment.humanized_rating.present? %> 
          <b><%= comment.humanized_rating %></b> -
        <% end %>
        <%= comment.message %>&nbsp;
        <small><%= mail_to comment.user.email %></small>
      </blockquote>
    </div>
  <% end %>
</div>
</div> 

<% elsif !(@user.places.present?) && !(@user.comments.present?)  %>
  <h5 class="text-center">Go add your first comment!</h5>
  <% elsif (@user.places.present?) && !(@user.comments.present?) %>
  <h5 class="text-center">Add a comment to your <%= link_to 'place!', place_path(@user.places.first), class: 'place-link' %></h5>
  <% end %>
<div class="col-10 offset-1"
<br /><br />
<div class="row">
  <% @user.comments.each do |comment| %>
    <div class="col-12 col-sm-6">
      <h2 class="text-center"><%= link_to comment.place.name, place_path(comment.place) %></h2>
      <blockquote>
        <% if comment.humanized_rating.present? %> 
          <b><%= comment.humanized_rating %></b> -
        <% end %>
        <%= comment.message %>&nbsp;
        <small><%= mail_to comment.user.email %></small>
      </blockquote>
    </div>
  <% end %>
</div>
</div>


<div class="clear"></div>
<br /><br />

<hr class="col-10 offset-1">

<br />
<h1 class="text-center">My Places</h1>
<br /><br />

<% if !(@user.places.present?) %>
  <h5 class="text-center h5-no-margin-top">Add your first <%= link_to 'place!', new_place_path, class: 'place-link' %></h5>
  
  <% end %>

<% @user.places.each do |place| %>
  <div class="booyah-box col-10 offset-1">
    <h1><%= link_to place.name, place_path(place) %></h1><br />
    <i><%= place.address %></i><br />
    <p><%= place.description %></p><br />

    <% if place.user.present? %>
      <small><%= place.user.email %></small>
    <% end %>

    <% if place.comments.present? %>
      <div class="col-12">
        <blockquote>
          <% if place.comments.last.humanized_rating.present? %>
            <b><%= place.comments.last.humanized_rating %></b> -
          <% end %>
          <%= place.comments.last.message %>
          <small><%= place.comments.last.user.email %></small>
        </blockquote>
      </div>
    <% end %>
  </div>
<% end %>




<!-- Modal -->
<div class="modal fade" id="avatarpic" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Add a Picture</h4>
      </div>

    <%= simple_form_for @avatar, url: user_avatars_path(@user) do |f| %>
      <div class="modal-body">
          <%= f.input :avatarpic %>
      </div>
        
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <%= f.submit "Add a Picture", class: 'btn btn-primary' %>
      </div>
    <% end %>
    </div>
  </div>
</div>
  


  

  










